
header {
    padding: 20px;
    background-color: #E0FFFF;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 10vh;
    justify-content: space-around;
}
.header_h1 {
    
    text-align: center;
}
.header_h3 {
    
    text-align: center;
}

a {
    text-decoration:none;
    color: black;
}

.menu {
    display: flex;
    list-style-type: none;
}
.menu__link {
    margin-right: 15px;
    font-size: 16px;
    text-transform: uppercase;
    
}
.menu__link a {
    color: #696969;
    padding: 5px;

}
.menu__link a:hover {
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 1em red;
}
.menu__link a:active {
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 1em green;
}