
header {
    padding: 20px;
    background-color: #E0FFFF;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 10vh;
    
}
.header_h1 {
    width: 40%;
    text-align: center;
}
.header_h3 {
    width: 60%;
    text-align: center;
}